//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/*
Main config
*/
*{
    margin: 0;
    padding: 0;

}

body{
    scroll-behavior: smooth;
    background-color: #F9DBBB;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:  black;
}

/*
    Variable Names
*/
$backgroundColor: #afafaf;
$primaryColor: #2E86C1;
$accentColor: #E67E22;
$textColor: #1d1d1d;


/*
    Mobile Version
*/


/*
    Desktop Version
*/

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 3% 20px;
    margin: 10px 10% 0 10%;
    border-radius: 20px;
    
    h1{
        font-size: 1.5rem;
        color: $textColor;
    }
    
    nav{
        position: relative;
        z-index: 0;

        ul{
            display: flex;
            flex-wrap: nowrap;
            margin-top: 5px;
            gap: 40px;

            li{
                
            a{
                font-size: 18px;
                color: $textColor;
                position: relative;
                z-index: 0;
                cursor: pointer;
            }

            a:before, a:after{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 1px;
                background: red;
                content: "";
                opacity: 0;
                transition: all 0.3s;
            }

            a:before
            {
                top: 20px;
                transform: translateY(10px);
            }

            a:after{
                bottom: 20px;
                transform: translateY(-10px);
            }

            a:hover:before, a:hover:after
            {
                opacity: 1;
                transform: translateY(0px);
            }
            }
        }
    }
}

.svg-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    font-weight: 400;
    z-index: -1;

    svg{
        display: inline-block;
        height: 100vh;
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

.animate-on-scroll.animate {
    opacity: 1;
    transform: translateY(0);
}

.hero-section {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    

    h1 {
        font-size: 10rem;
    }
    
    p {
        font-size: 30px;
        font-weight: 300;
    }

    a {
        margin: 100px 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        cursor: pointer;
        width:200px;
        display: flex;
        height: 40px;
        background: black;
        color: rgb(255, 255, 255);
        position:absolute;
        right: 20%;
        align-items: center;
        border: solid 1px white;
        letter-spacing: .3em;
        padding-left: 40px;
        
      }
      
      .button:hover > div {
        margin-left: 114px;
        transition: 0.5s cubic-bezier(.4,0,.2,1) ;
      }
      
      .button:hover > b {
        animation: letterroll cubic-bezier(.4,0,.2,1) 0.5s;
      }
      
      b {
        animation: backroll cubic-bezier(.4,0,.2,1) 0.5s;
      }
      
      .div-button {
        width: 75px;
        height:1px;
        background: red;
        margin-left: 130px;
        position: absolute;
        transition: 0.5s;
        
      }
      
      
      @keyframes letterroll {
        50% {
          transform: translateY(-75%);
          opacity: 0;
        }
        50.1% {
          transform: translateY(75%);
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      
      @keyframes backroll {
        50% {
          transform: translateY(75%);
        }
        50.1% {
          transform:translateY(-75%);
          opacity: 0;
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      
      #butn {
        visibility: hidden;
      }

    .box{
        position: absolute;
        width: 300px;
        height: 400px;
        z-index: -1;
        background: #c9c9c95d;
        content: "";
        bottom: -50px;
        right: 10%;
    }
}

.about-me{

    padding: 10%;
    display: flex;
    align-items: center;
    position: relative;
    

    h2{
        font-size: 6rem;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 10px;
    }
    p{
        width: 70%;
        margin: 30px 0;
        font-family:'Poppins', sans-serif ;
        word-spacing: 1px;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
    }

    img{
        width: 40%;
        border: .5px solid black;
        border-radius: 76% 0% 0% 0% / 75% 25% 25% 25%;
        background: #F9DBBB;
    }  

    .circle{
        position: absolute;
        z-index: -1;
        top: 250px;
        content: "";
        width: 70%;
        border: .5px solid black;
    }
}

.scrolling-text-container {
    padding: 3% 10%;
    display: flex;
    background-color: #F9DBBB;

    p {
        height: 150px;
        font-size: 80px;
        font-weight: 600;
        margin-right: 0.3em;
        margin-top: 0px;
        color: $textColor
    }

    b {
        overflow: hidden;
        position: relative;
        height: 90px;
        padding: 5px 0;
    }

    span1 {
        font-size: 70px;
        display: inline-block;
        color: #ab0000;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;
        animation: move 8s infinite;
    }

    @keyframes move {
        0%  { top: 0px; }
        14% { top: -85px; }
        28% { top: -165px; }
        42% { top: -245px; }
        56% { top: -325px; }
        70% { top: -410px; } // Typescript
        80% { top: -490px; }
    }

}

.scrolling-text-container::before{
    position: absolute;
    content: "Desarrollador";
    width: 10%;
    z-index: -1;
    height: 130px;
    font-size: 170px;
    color: #c5c5c590;
}

.experience{
    margin: 10%;
    background-color: #F9DBBB;

    h2{
        font-size: 6rem;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 10px;
    }

    p{
        width: 70%;
        margin: 20px 0;
        word-spacing: 1px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
    }

    .projects-container{
        display: flex;
        flex-direction: column;
    }
}


footer{
    background:#F9FAFB;
    height: 200px;
}