@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


/*
Main config
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 20px;
    scroll-behavior: smooth;
    background-color: #e6e6e6;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:  black;
}

/*
    Variable Names
*/
$backgroundColor: #ebebeb;
$primaryColor: #2E86C1;
$accentColor: #E67E22;
$textColor: #2c2c2c;


/*
    Mobile Version
*/


/*
    Desktop Version
*/

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 20px;
    background-color: $backgroundColor;
    margin: 10px 10%;
    border-radius: 20px;
    
    h1{
        font-size: 1.5rem;
        color: $textColor;
    }
    
    nav{
        position: relative;
        z-index: 0;

        ul{
            display: flex;
            flex-wrap: nowrap;
            margin-top: 5px;
            gap: 40px;

            li{
            
            a{
                color: $textColor;
                position: relative;
                z-index: 0;
                cursor: pointer;
            }

            a:before, a:after{
                position: absolute;
                left: 0px;
                width: 100%;
                height: 1px;
                background: red;
                content: "";
                opacity: 0;
                transition: all 0.3s;
            }

            a:before
            {
                top: 20px;
                transform: translateY(10px);
            }

            a:after{
                bottom: 20px;
                transform: translateY(-10px);
            }

            a:hover:before, a:hover:after
            {
                opacity: 1;
                transform: translateY(0px);
            }
            }
        }
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

.animate-on-scroll.animate {
    opacity: 1;
    transform: translateY(0);
}

.hero-section {
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.5px solid gray;
    position: relative;

    h1 {
        font-size: 10rem;
        color: $textColor;
    }
    
    p {
        font-size: 30px;
        font-weight: 300;
    }

    a {
        margin: 100px 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        cursor: pointer;
        width:200px;
        display: flex;
        height: 40px;
        background: black;
        color: white;
        position:absolute;
        right: 20%;
        align-items: center;
        border: solid 1px white;
        letter-spacing: .3em;
        padding-left: 40px;
        
      }
      
      .button:hover > div {
        margin-left: 114px;
        transition: 0.5s cubic-bezier(.4,0,.2,1) ;
      }
      
      .button:hover > b {
        animation: letterroll cubic-bezier(.4,0,.2,1) 0.5s;
      }
      
      b {
        animation: backroll cubic-bezier(.4,0,.2,1) 0.5s;
      }
      
      .div-button {
        width: 75px;
        height:1px;
        background: red;
        margin-left: 130px;
        position: absolute;
        transition: 0.5s;
        
      }
      
      
      @keyframes letterroll {
        50% {
          transform: translateY(-75%);
          opacity: 0;
        }
        50.1% {
          transform: translateY(75%);
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      
      @keyframes backroll {
        50% {
          transform: translateY(75%);
        }
        50.1% {
          transform:translateY(-75%);
          opacity: 0;
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      
      #butn {
        visibility: hidden;
      }

    .box{
        position: absolute;
        width: 300px;
        height: 400px;
        z-index: -1;
        background: #c9c9c9ae;
        content: "";
        bottom: -50px;
        right: 10%;
    }
}


.about-me{

    padding: 5% 10%;
    display: flex;
    align-items: center;
    position: relative;

    h2{
        font-size: 7rem;
        font-weight: 800;
        color: $textColor;
        margin-bottom: 10px;
    }
    p{
        width: 70%;
        margin: 20px 0;
        font-family:'Poppins', sans-serif ;
        word-spacing: 1px;
        font-size: 17px;
        font-weight: 300;
        line-height: 30px;
    }

    img{
        width: 300px;
        height: 200px;
        padding-right: 20px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.12);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

    }

    .line-box{
        position: absolute;
        z-index: -1;
        .line:first-child{
            content: "";
            background: #acacac30;
            width: 800px;
            height: 100px;
        }

        .line:nth-child(2){
            content: "";
            background: #acacac30;
            width: 500px;
            height: 100px;
            margin-top: 15px;
        }
    }
}

.scrolling-text-container {
    padding: 0% 10%;
    display: flex;

    p {
        height: 50px;
        font-size: 80px;
        font-weight: 600;
        margin-right: 0.3em;
        margin-top: 0px;
        color: $textColor
    }

    b {
        overflow: hidden;
        position: relative;
        height: 90px;
        padding: 5px 0;
    }

    span1 {
        font-size: 70px;
        display: inline-block;
        color: #ab0000;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;
        animation: move 8s infinite;
    }

    @keyframes move {
        0%  { top: 0px; }
        14% { top: -85px; }
        28% { top: -165px; }
        42% { top: -245px; }
        56% { top: -325px; }
        70% { top: -410px; } // Typescript
        80% { top: -490px; }
    }

}

.experience{
    margin: 10%;

    h2{
        font-size: 5rem;
        color: $textColor;
    }

    p{
        width: 70%;
        margin: 20px 0;
        word-spacing: 1px;
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
    }

    .carousel-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card{
        width: 300px;
        height: 425px;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        transition: all 0.6s ease;
    }
    
    .card:hover{
        box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;
    }
    
    .card .img{
        height: 40%;
        background: url("https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_1280.jpg");
        background-size: cover;
    }
    
    .card .content{
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 300;
    }
    
    .card .content h3{
        width: 200px;
        font-weight: 300;
        font-size: 30px;
        padding-bottom: 5px;
        border-bottom: 4px solid #FFAC1C;
    }
    
    .card .content p{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    
    .card .content a{
        list-style-type: none;
        text-decoration: none;
    }
    
    .card .content button{
        font-family: 'Londrina Solid', cursive;
        font-weight: 100;
        font-size: 20px;
        color: #FFAC1C;
        width: 100%;
        height: 45px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background-color: #ffac1c26;
        transition: 0.2s ease-in-out;
    }
    
    .card .content button:hover{
        background-color: #ffac1c3f;
        cursor: pointer;
    }
}



