/*
Main config
*/
* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-color: #F9DBBB;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*
    Variable Names
*/
/*
    Mobile Version
*/
/*
    Desktop Version
*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 3% 20px;
  margin: 10px 10% 0 10%;
  border-radius: 20px;
}
header h1 {
  font-size: 1.5rem;
  color: #1d1d1d;
}
header nav {
  position: relative;
  z-index: 0;
}
header nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  gap: 40px;
}
header nav ul li a {
  font-size: 18px;
  color: #1d1d1d;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
header nav ul li a:before, header nav ul li a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1px;
  background: red;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
header nav ul li a:before {
  top: 20px;
  transform: translateY(10px);
}
header nav ul li a:after {
  bottom: 20px;
  transform: translateY(-10px);
}
header nav ul li a:hover:before, header nav ul li a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.svg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-weight: 400;
  z-index: -1;
}
.svg-container svg {
  display: inline-block;
  height: 100vh;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s, transform 1s;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}

.hero-section {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.hero-section h1 {
  font-size: 10rem;
}
.hero-section p {
  font-size: 30px;
  font-weight: 300;
}
.hero-section a {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .button {
  cursor: pointer;
  width: 200px;
  display: flex;
  height: 40px;
  background: black;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 20%;
  align-items: center;
  border: solid 1px white;
  letter-spacing: 0.3em;
  padding-left: 40px;
}
.hero-section .button:hover > div {
  margin-left: 114px;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .button:hover > b {
  animation: letterroll cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.hero-section b {
  animation: backroll cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.hero-section .div-button {
  width: 75px;
  height: 1px;
  background: red;
  margin-left: 130px;
  position: absolute;
  transition: 0.5s;
}
@keyframes letterroll {
  50% {
    transform: translateY(-75%);
    opacity: 0;
  }
  50.1% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes backroll {
  50% {
    transform: translateY(75%);
  }
  50.1% {
    transform: translateY(-75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.hero-section #butn {
  visibility: hidden;
}
.hero-section .box {
  position: absolute;
  width: 300px;
  height: 400px;
  z-index: -1;
  background: rgba(201, 201, 201, 0.3647058824);
  content: "";
  bottom: -50px;
  right: 10%;
}

.about-me {
  padding: 10%;
  display: flex;
  align-items: center;
  position: relative;
}
.about-me h2 {
  font-size: 6rem;
  font-weight: 500;
  color: #1d1d1d;
  margin-bottom: 10px;
}
.about-me p {
  width: 70%;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  word-spacing: 1px;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
}
.about-me img {
  width: 40%;
  border: 0.5px solid black;
  border-radius: 76% 0% 0% 0%/75% 25% 25% 25%;
  background: #F9DBBB;
}
.about-me .circle {
  position: absolute;
  z-index: -1;
  top: 250px;
  content: "";
  width: 70%;
  border: 0.5px solid black;
}

.scrolling-text-container {
  padding: 3% 10%;
  display: flex;
  background-color: #F9DBBB;
}
.scrolling-text-container p {
  height: 150px;
  font-size: 80px;
  font-weight: 600;
  margin-right: 0.3em;
  margin-top: 0px;
  color: #1d1d1d;
}
.scrolling-text-container b {
  overflow: hidden;
  position: relative;
  height: 90px;
  padding: 5px 0;
}
.scrolling-text-container span1 {
  font-size: 70px;
  display: inline-block;
  color: #ab0000;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 8s infinite;
}
@keyframes move {
  0% {
    top: 0px;
  }
  14% {
    top: -85px;
  }
  28% {
    top: -165px;
  }
  42% {
    top: -245px;
  }
  56% {
    top: -325px;
  }
  70% {
    top: -410px;
  }
  80% {
    top: -490px;
  }
}

.scrolling-text-container::before {
  position: absolute;
  content: "Desarrollador";
  width: 10%;
  z-index: -1;
  height: 130px;
  font-size: 170px;
  color: rgba(197, 197, 197, 0.5647058824);
}

.experience {
  margin: 10%;
  background-color: #F9DBBB;
}
.experience h2 {
  font-size: 6rem;
  font-weight: 500;
  color: #1d1d1d;
  margin-bottom: 10px;
}
.experience p {
  width: 70%;
  margin: 20px 0;
  word-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}
.experience .projects-container {
  display: flex;
  flex-direction: column;
}

footer {
  background: #F9FAFB;
  height: 200px;
}/*# sourceMappingURL=style.css.map */